# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
.venv/
venv/
ENV/
env/

# Distribution / packaging
build/
dist/
pip-wheel-metadata/
*.egg-info/

# PyInstaller
*.manifest
*.spec

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# Logs
*.log

# Misc
.env
*.cache
